@import "./variables.scss";

.MobileForm {
  border: 1px solid rgb(196, 196, 196);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 20px;
  color: white;

  @include desktop {
    width: 600px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  &__containerForm {
    @extend %column;

    > h3 {
      background-color: white;
      color: black;
      height: 50px;
      border-radius: 8px;
      text-align: center;
      padding-top: 10px;
    }
    > label {
      margin: 3px;

      > span {
        margin: 5px;
      }

      > input {
        width: 260px;
        @extend %flex;
        margin: 3px;
        @include tablet {
          width: 300px;
          display: flex;
          float: right;
          float: right;
        }
        @include desktop {
          width: 300px;
          display: flex;
          float: right;
          float: right;
        }
      }
      > select {
        width: 260px;
        margin: 3px;
        @include tablet {
          display: flex;
          float: right;
          width: 300px;
        }
        @include desktop {
          display: flex;
          float: right;
          width: 300px;
        }
      }
      .inputName {
        @include desktop {
          margin-left: 27px;
        }
      }
    }
  }

  &__buttons {
    @extend %flex;
    justify-content: flex-end;
    padding-top: 10px;
    > button {
      margin: 3px;
      width: 150px;
      height: 30px;
     
      color: white;
      font-weight: bold;
      background-color: black;
      outline: none;
    }
  }
}
