@import "./variables.scss";

.cardList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 20px;

  &__card {
  
    background-color: rgba(255, 255, 255, 0.808);
    padding: 15px;
    width: 250px;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
    margin: 5px;
   >button{
     fill:transparent
   }
    @include desktop {
      width: 250px;
      
    }
    @include tablet {
      width: 250px;
    }
  }
}
