@import "./variables.scss";
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// #1caacc;

a:link,
a:visited,
a:active {
  text-decoration: none;
}
.Navbar {
  align-items: baseline;

  justify-content: space-between;
  height: 140px;
  padding: 20px;
  min-width: 360px;
  max-height: 190px;
  @include desktop {
    height: 190px;
  }
  &__img {
    @extend %flex;
    justify-content: center;

    > img {
      max-width: 60%;
      display: flex;
      @include tablet {
        max-width: 35%;
      }
      @include desktop {
        max-width: 25%;
      }
    }
  }
  &__links {
    @extend %flex;
    align-items: stretch;
    margin-top: 20px;
    border-top: 1px solid white;
    justify-content: space-between;

    .homeLink {
      color: white;
      margin: 5px;

      @include desktop {
        margin: 10px;
      }
    }
    &--right {
      @extend %flex;
      align-items: baseline;
    }
  }
}
