@import "./styles/variables.scss";

.App {
  background-color: #fb2687;
  background-image: url("https://i.pinimg.com/originals/4a/c8/a6/4ac8a6a974d1fc6ce281fa423d8b1279.gif");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 53vh;
  min-height: 105vh;
@include tablet{
  background-size: 100vh;
  background-position: right;
}
  @include desktop {
    background-size: 100vh;
    background-position: right;
  }
}
